$palegreen:#ccffcc;
$light-lime:#f1ffc9;
$mint:#b3ffb3;
$font-family: Merriweather, Arial, sans-serif;
$darkblue:#000066;
$creme-page:#ffffe6;
$border1px: solid 1px;

*{
    padding:0;
    margin:0;
}

.filter-box{
    height:45px;
    width:100%;
    background-color: $palegreen;
    opacity:50%;
    }
    
    .filter-icon{
    height:25px;
    width:25px;
    margin:1% 0 0 2%;
    }
    
@media only screen and (max-width: 568px){
   .filter-box{
    height:25px;
    width:100%;
    background-color: $palegreen;
    opacity:50%;
   }

   .filter-icon{
    height:15px;
    width:15px;
    margin:2%;
   }

}